<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mounin.mybatis.mapper.EmpMapper">

    <!--
        resultMap：设置自定义的映射关系
            id：唯一标识
            type：处理映射关系的实体类的类型
        常用的标签：
            id：处理主键和实体类中属性的映射关系
            result：处理普通字段和实体类中属性的映射关系
                column：设置映射关系中的字段名，必须是sql查询出的某个字段
                property：设置映射关系中的属性的属性名，必须是处理的实体类类型中的属性名
    -->
    <resultMap id="empResultMap" type="Emp">
        <id column="emp_id" property="empId" />
        <result column="emp_name" property="empName" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
    </resultMap>

    <!-- Emp getEmpByEmpId(@Param("empId") Integer empId); -->
    <select id="getEmpByEmpId" resultMap="empResultMap">
        select * from t_emp where emp_id = #{empId}
    </select>

    <select id="getEmpByEmpIdOld" resultType="Emp">
        select * from t_emp where emp_id = #{empId}
    </select>

    <!-- Emp getEmpAndDept(@Param("empId") Integer empId); -->
    <select id="getEmpAndDept" resultType="Emp">
        select t_emp.*,t_dept.* 
        from t_emp left join t_dept on t_emp.dept_id = t_dept.dept_id
        where emp_id = #{empId}
    </select>
</mapper>
